.entry-image img {
    border-radius: 3px;
}

.entry-image, .entry-image > a, .entry-image .slide a, .entry-image img {
    display: block;
    position: relative;
    height: auto;
}
a img {
    border: none;
}
a{
    text-decoration: none ;
    color: #333;
}
img {
    max-width: 100%;
}
.entry-meta li {
    float: left;
    font-size: 14px;
    line-height: 14px;
    margin: 5px 20px 0px 0;
    color: #999;
    font-family: 'Crete Round', serif;
    font-style: italic;
    font-weight: 600;
}
dl, dt, dd, ol, ul, li {
    margin: 0;
    padding: 0;
}
.sidebar-widgets-wrap .widget {
    padding-top: 50px;
    border-top: 1px solid #EEE;
}
.widget {
    position: relative;
    margin-top: 50px;
}
.spost, .mpost {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #E5E5E5;
}
.spanent{
    color: rgb(51, 51, 51); cursor: text; font-family:Georgia, 'Times New Roman', Times, serif Times, serif;
    font-size: 16px;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    line-height: inherit;
}
.spost .entry-image, .spost .entry-image a, .spost .entry-image img, .spost .entry-image i {
    width: 48px;
    height: 48px;
}
.entry-image img {
    border-radius: 3px;
}

.img-circle {
    border-radius: 50% !important;
}
.spost .entry-image, .mpost .entry-image {
    float: left;
    margin: 0 15px 0 0;
    text-align: center;
}
.entry-c {
    position: relative;
    overflow: hidden;
}
.spost .entry-title h4, .mpost .entry-title h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}
.postcontent.col_last, .sidebar.col_last {
    float: right;
}
.col_last {
    margin-right: 0 !important;
    clear: right;
}
.postcontent, .sidebar {
    margin-right: 40px;
}
.postcontent, .sidebar, .col_full, .col_half, .col_one_third, .col_two_third, .col_three_fourth, .col_one_fourth, .col_one_fifth, .col_two_fifth, .col_three_fifth, .col_four_fifth, .col_one_sixth, .col_five_sixth {
    display: block;
    position: relative;
    margin-right: 4%;
    margin-bottom: 50px;
    float: left;
}
.sidebar {
    width: 240px;

}
.nobottommargin {
    margin-bottom: 0 !important;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.form-control {
    border-radius: 3px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.panel-default {
    border-color: #dddddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #f3f3f3;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #bdbbbb;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.panel-body {
    padding: 15px;
}
.author-image img {
    width: 84px;
    height: 84px;
}

.img-circle {
    border-radius: 50% !important;
}