body{
}
.container{
    color: black;
    position: relative;
    margin-top: 5rem;
}
.endereco{
    margin-top: -20rem;
    float: right;
    display: block;
    position: relative;
    margin-right: 4%;
    margin-bottom: 50px;
    font-size: 14px;
}
@media (min-width: 992px) and (max-width: 1199px){
.endereco {
    width: 210px;
}}
.end{
    margin-right: 0 !important;
    clear: right;
}
#contatos{
    width: 100%;
    margin-bottom: 3rem;    
}
.button{
    width: 100%;
    height: 2rem;
    background-color: rgb(1, 156, 1);
    color: white;
    font-weight: bolder;
    font-size: 16px;
    border: none;
    font-weight: 600;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
}
.formpost{ 
}
@media (max-width: 767px){
.formpost{
    width: 100%;
    margin-right: 0;
    float: none;
    margin-bottom: 50px !important;
}}
label{
    margin-left: 7px;
    margin-bottom: 9px;
    font-weight: bolder;
    font-size: 13px;
}
strong i{
    margin-right: 3px;
}
.form-group label{
    
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
}
address label{
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
}