.clearflix{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

#content{
    position: relative;
}
.content-padding{
    position: relative;

}
.outrosservice{
    position: relative;
    margin-top: 50px;
}
.semmarginbotton{
    margin-bottom: 0 !important;
}
.clearflix::before{
    content: " ";
    display: table;
}
.single-post .entry-content .entry-image {
    max-width: 350px;
}
img.alignleft, div.alignleft {
    float: left;
    margin: 5px 20px 13px 0;
    max-width: 100%;
    
}
.entry-image img {
    border-radius: 30px;
    
}
.entry-image img {
    display: block;
    position: relative;
    width: 100%;
    height: 12.1rem;
}
a img {
    border: none;
}

img {
    max-width: 100%;
}
.clear{
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0;
    width: 100%;
    overflow: hidden;
}
.outros{
    color: #444;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 30px 0;
    font-family: 'Raleway', sans-serif;
}



